:root{
    --primary:rgb(21, 21, 21);
    --secondary:rgb(32, 32, 32);
    --theme:rgb(255, 43, 43);
    --font1:rgb(225, 225, 225);
    --font2:rgb(195, 195, 195);
  }
body{
    background-color:var(--primary);
}
h1{
    text-align: center;
    color: var(--theme);
}