:root{
    --primary:rgb(21, 21, 21);
    --secondary:rgb(32, 32, 32);
    --theme:rgb(255, 43, 43);
    --font1:rgb(225, 225, 225);
    --font2:rgb(195, 195, 195);
  }
.main{
    border-radius: 10px;
    width: 320px;
    height: auto;
    padding: 14px;
    margin: 20px;
    background-color: var(--secondary);
}
h5{
    color: var(--font2);
}
.main h3{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3px;
    text-align: center;
    font-size: 25px;
    color: white;
}
.main p{
    margin-top: 5px;
    text-align: center;
    color: var(--font2);
}
.main img{
    margin: auto;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}