:root{
  --primary:rgb(21, 21, 21);
  --secondary:rgb(32, 32, 32);
  --theme:rgb(255, 43, 43);
  --font1:rgb(225, 225, 225);
  --font2:rgb(195, 195, 195);
}
body{
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
}
.nav{
  background-color: var(--primary);
  width: 100vw;
  height: auto;
  padding: 10px;

}
.nav li{
  margin: 15px;
 display: inline;
  list-style-type: none;
}
.nav li .links{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
  color: white;
  text-decoration: none;
  
}
.nav li .links:hover{
  transition:0.8s;
  color:var(--theme);
}